.container {
    color: purple;
}

#main-bio {


}

#contact-info {

}

#bio-image {

}


body {
    margin: 0;
    padding: 0;
    font-family: "Georgia",Times New Roman,Times,serif;
    color:#333333;
}
